* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: dimgray;

}
h1 {
    padding: 30px 30px;
}
p {
    overflow-wrap: break-word;
}

ul {
    list-style: none;
}

.panel {
    display: flex;
    margin: 0 auto;
    max-width: 1200px;
    padding: 30px 0;
    justify-content: space-between;
}

.panel__excursins {
    width: 70%;
}
.panel__summary-hidden {
    display: none;
}

.excursions {
    display: flex;
    flex-wrap: wrap;
}

.excursions__item {
    border: 1px solid #bbb;
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
    width: calc(50% - 20px);
}
.excursions__field-input {
    width: 50px;
}

.panel__form {
    padding: 20px;
    width: 30%;
    border-radius: 8px;
}

.uploader, .order {
    border-bottom: 1px solid #bbb;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.excursions__item--prototype {
    display: none;
}
.summary__item--prototype {
    display: none;
}
.form__edit {
    display: none;
    border: 2px solid darkgreen;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 400px;
    padding: 20px;
}
.form__active > * {
    margin: 10px 0;
}
.form__edit > ul {
    margin: 10px 0;
    list-style-type: circle;
}
.background__blur {
    filter: blur(4px);
}
.form__active {
    display: block;
}